<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Care Crafters</title>
    <link rel="stylesheet" href="styles/1.css">

</head>

<body>
    
    <%- include("partials/header.ejs") %>
        <!-- Form to create a new blog post -->
        <header>
            <h1>Welcome to NurtureNest</h1>
        </header>
        <section id="featured-content">
            <table style="background-color: aliceblue;">
                <tr>
                    <td><h2>Featured Tips for a Healthy Pregnancy</h2>
                        <ul>
                            <li><strong>Nutrition:</strong> Eat a balanced diet rich in fruits, vegetables, lean proteins, and whole grains.</li>
                            <li><strong>Exercise:</strong> Engage in safe and moderate exercise activities, such as walking, swimming, and prenatal yoga.</li>
                            <li><strong>Self-Care:</strong> Prioritize relaxation, sleep, and stress management techniques to support your well-being during pregnancy.</li>
                        </ul>
                    </td>
                    <td>
                        <image src="../styles/1.jpg" height="200" width="200"></image>
                    </td>
                </tr>
            </table>

        </section>
        <h3 style="background-color:aliceblue; width: fit-content;">Preconception</h3>
        
        <img decoding="async" width="209" height="209" src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_209,h_209/https://allohopefoundation.org/wp-content/uploads/2023/07/one.png" data-src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_209,h_209/https://allohopefoundation.org/wp-content/uploads/2023/07/one.png" class="attachment-large size-large wp-image-1235 lazyloaded" alt="" data-srcset="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_209/https://allohopefoundation.org/wp-content/uploads/2023/07/one.png 209w, https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_150/https://allohopefoundation.org/wp-content/uploads/2023/07/one-150x150.png 150w" data-sizes="(max-width: 209px) 100vw, 209px" sizes="(max-width: 209px) 100vw, 209px" srcset="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_209/https://allohopefoundation.org/wp-content/uploads/2023/07/one.png 209w, https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_150/https://allohopefoundation.org/wp-content/uploads/2023/07/one-150x150.png 150w">
        <p style=" padding: 10px ; background-color:  aliceblue;">During your preconception appointment you can discuss any questions or concerns you may have about a future pregnancy. You can work together with your MFM to create a care plan that you and your partner feel confident about. Having a face to face meeting also helps you get a feel for the MFM’s bedside manner and how you both interact with each other. It is also helpful to see how your MFM handles questions from you since you will be asking lots of questions during a future pregnancy. For those who have lost a baby to HDFN, the preconception appointment is a good time to ask your MFM questions about your experience and discuss ways to prevent another loss. If you had a severely affected pregnancy or lost a baby to HDFN in the past we strongly recommend having a preconception appointment with an MFM before attempting another pregnancy.</p>
        

        <br>
        <h3 style="background-color: aliceblue; width: fit-content;">0-7 weeks</h3>

        <img decoding="async" width="209" height="209" src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_209,h_209/https://allohopefoundation.org/wp-content/uploads/2023/07/two.png" data-src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_209,h_209/https://allohopefoundation.org/wp-content/uploads/2023/07/two.png" class="attachment-large size-large wp-image-1236 lazyloaded" alt="" data-srcset="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_209/https://allohopefoundation.org/wp-content/uploads/2023/07/two.png 209w, https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_150/https://allohopefoundation.org/wp-content/uploads/2023/07/two-150x150.png 150w" data-sizes="(max-width: 209px) 100vw, 209px" sizes="(max-width: 209px) 100vw, 209px" srcset="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_209/https://allohopefoundation.org/wp-content/uploads/2023/07/two.png 209w, https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_150/https://allohopefoundation.org/wp-content/uploads/2023/07/two-150x150.png 150w">
        <p style="background-color: aliceblue;">If you have had a previous pregnancy that was severely affected, have lost a baby to HDFN, or if your titers are in the hundreds/thousands:<br>It is recommended that you have your first appointment with your MFM as early as possible. Certain treatments such as plasmapheresis and IVIG, must be scheduled during this time period and can take weeks to be approved by insurance companies. Because these treatments are very time sensitive and are the most effective when started by a certain gestation, getting in to see your MFM early in the pregnancy is a great way to keep your baby safe.</p>

        <br>
        <h3 style="background-color: aliceblue; width: fit-content;">8-12 weeks</h3>
        <img decoding="async" width="209" height="209" src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_209,h_209/https://allohopefoundation.org/wp-content/uploads/2023/07/two.png" data-src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_209,h_209/https://allohopefoundation.org/wp-content/uploads/2023/07/two.png" class="attachment-large size-large wp-image-1236 ls-is-cached lazyloaded" alt="" data-srcset="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_209/https://allohopefoundation.org/wp-content/uploads/2023/07/two.png 209w, https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_150/https://allohopefoundation.org/wp-content/uploads/2023/07/two-150x150.png 150w" data-sizes="(max-width: 209px) 100vw, 209px" sizes="(max-width: 209px) 100vw, 209px" srcset="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_209/https://allohopefoundation.org/wp-content/uploads/2023/07/two.png 209w, https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_150/https://allohopefoundation.org/wp-content/uploads/2023/07/two-150x150.png 150w">
        
        <p style="background-color: aliceblue;">If your titers are not critical:<br>You should be having your first or second titer test now.</p>
        <strong>If your titers are critical:</strong><br>For those having plasmapheresis and IVIG treatments, plasmapheresis is recommended between 10-11 weeks and IVIG should start immediately after plasmapheresis is finished (11-12 weeks). Some women have a port or a permacath (or both) surgically implanted before starting treatments.
        <strong>Everyone:</strong><br>If this is your first sensitized pregnancy, or first pregnancy with your partner, now is the time to have your partner’s blood tested for the antigens. The baby’s father should be phenotyped for any of the matching antigens that you have antibodies to. For example, if you tested positive for anti-Kell antibodies, your partner needs to be tested for the Kell antigen. This test can be done by your MFM, regular OB or your partner’s regular doctor.

        <!-- <section id="signup-login">
            <h2>Sign Up or Log In</h2>
            <p>Join our community to access personalized features and connect with other pregnant women:</p>
            <form action="signup.php" method="post"> 
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Sign Up / Log In</button>
            </form>
            <p>Already have an account? <a href="login.html">Log in here</a>.</p> 
        </section> -->
        <footer>
            <p>&copy; 2024 Pregnancy Wellness. All rights reserved.</p>
        </footer>

        <%- include("partials/footer.ejs") %>

        <script src="../js/index2.js"></script>

        <script>
            window.embeddedChatbotConfig = {
            chatbotId: "l0RZc70D6tfd6NIKrAnlP",
            domain: "www.chatbase.co"
            }
            </script>
            <script
            src="https://www.chatbase.co/embed.min.js"
            chatbotId="l0RZc70D6tfd6NIKrAnlP"
            domain="www.chatbase.co"
            defer>
            </script>
</body>

</html>